<h1>All Galleries</h1>
<!-- <iframe src="https://player.vimeo.com/video/133921725?color=33CC33&byline=0&badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 -->
<ul id="galleries">
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.title, gallery_path(gallery), class: 'gallery_link' %>
    </li>
    <br>
  <% end %>
</ul>


<% if current_user %>
<%= link_to "Create a New Gallery", new_gallery_path, class: "new_gallery_link" %>
<%end%>
